/*#604999 - purple*/
/*#8BCDCB - bluey green*/


.btn-pmi {
  background-color: #8BCDCB;
}

.btn-pmi:hover {
  background-color: #604999;
}

.base-wrapper {
  padding-left:15px;
}

.black-bg {
  background-color: #604999;
}

.main-window {
  padding-left: 15px;
  padding-right: 15px;
}