{% extends "base.html" %}
{% block content %}

    <p>
        <button class="btn btn-default" onclick="location.href='/client'">Back to Clients</button>
    </p>
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <p>{{ client.name }}</p>
        </div>
        <div class="col-md-6 col-sm-6">
            <p>{{ client.notes }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3">

            {#                        <button class="btn btn-default" onclick="location.href='edit'">Edit</button>#}
            <p>
                <button class="btn btn-default" onclick="location.href='/client'">Back to Clients</button>
            </p>
        </div>
    </div>

{% endblock content %}