{% extends "base.html" %}

{% block content %}
    <div class="row">
    <div class="col-md-4 col-sm-4 btn-margin">
        <a href="{% url 'create' %}"><button class="btn btn-lg btn-primary btn-pmi">Add a Client</button></a>
    </div>
    </div>
    <div class="row">

    {% for client in clients %}


        <div class="col-md-4 col-sm-4 showback client-block">
            <h3>{{ client.name }}</h3>
            <p>{{ preg.due_date }}</p>
            <p>{{ client.address }}</p>
            <p>{{ client.notes|truncatewords:20 }}</p>
            <p><button class="btn btn-default" onclick="location.href={{ client.id }}">View</button></p>
        </div>


    {% endfor %}
    </div>
{% endblock content %}