{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
            <form role="form" method="post" action="{% url 'create' %}">
                <legend>Create a client</legend>
                {% csrf_token %}
                {{ form | as_bootstrap }}
{#                <label for="due_date">Due date</label>#}
{#                <div class='input-group date' id='datetimepicker1'>#}
{#                    <input type='text' class="form-control" id="due_date" name="due_date" required />#}
{#                    <span class="input-group-addon">#}
{#                        <span class="glyphicon glyphicon-calendar"></span>#}
{#                    </span>#}
{#                </div>#}
                <script type="text/javascript">
                    $(function () {
                        $('.date_picker').datepicker({
                            dateFormat: 'yy-mm-dd',
                            defaultDate: "+8m",
                            gotoCurrent: true,
                            showAnim: "fadeIn",
                        });
                    });
                </script>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-pmi">Create</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}