{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
     <div class="col-md-6">
        <form role="form" method="post" action="">
            <legend>Client details</legend>
            <div class="form-group">
                <label for="client_name">Client name</label>
                <input type="text" class="form-control" id="client_name" placeholder="Enter a name" required autofocus/>
                <label for="due_date">Due date</label>
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" id="due_date" required />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker1').datetimepicker({
                            format: 'ddd, DD MMM YYYY'
                        });
                    });
                </script>

                <label for="description">Notes</label>
                <textarea class="form-control" id="description" rows="3" placeholder="Enter any additional notes"></textarea>
                <label for="package">Package</label>
                <select class="custom-select" id="package" required>
                    <option selected>Select package...</option>
                    <option value="1">Full package</option>
                    <option value="2">Half package</option>
                    <option value="3">Ante-natal only</option>
                </select>
                <button type="submit" class="btn btn-primary pull-right">Create</button>
            </div>
        </form>
    </div>
{% endblock %}